<app-title title="Contacts"></app-title>

<div class="button-container">
  <app-button btnType="success" message="add" type="button" (clickEvent)="onAdd()"></app-button>
  <app-button message="back" type="button" (clickEvent)="onBack()"></app-button>
</div>

<div *ngIf="!isLoading">
  <app-grid type="contact" [content]="contacts" (deleteEvent)="handleDelete($event)" (loadingTrigger)="isLoading = true"></app-grid>
</div>

<app-loading *ngIf="isLoading"></app-loading>

<app-alert *ngIf="alert.show" [message]="alert.message" [type]="alert.type" (modalEvent)="onModalClick($event)"></app-alert>