@import '../assets/css/settings';

app-header {
    position: relative;
    
    &::after {
        content: "";
        position: absolute;
        height: 1px;
        margin: 0 auto;
        width: 100vw;
        background-color: $divider_color;
    }
}

.container {
    padding: 4rem;
}